%h2 Assignments
%table.table.table-striped
  %thead
    %tr
      %th Location
      %th Role
      %th
      %th
  %tbody
    %tr
      %td ..
      %td ..
      %td
        =link_to "Edit", edit_person_path(@person), class: "btn btn-info"
        =link_to "Delete", person_path(@person), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
