%h2 Assignments
%table.table.table-striped
  %thead
    %tr
      %th Location
      %th Role
      %th
      %th
  %tbody
    %tr
      %td ..
      %td ..
      %td
        =link_to "Edit",
      %td
        =link_to "Delete"
        
